body{
  background: #66A96B;
}

.main-page{
  width: 100%;
  margin-top: 92px;
}

//MAIN-INFO_START
.main-info{
  width: 100%;
  margin-top: 58px;
  position: relative;
  &:after{
    content: '';
    position: absolute;
    top: 150px;
    width: 753px;
    height: 314px;
    right: 0;
    background: url('../../media/gray-sofa.png') 100% no-repeat;
  }
  &:before{
    content: '';
    position: absolute;
    top: -50px;
    width: 307px;
    height: 203px;
    right: 225px;
    background: url('../../media/set-gallery.png') 100% no-repeat;
  }
}
.main-info__text-block{
  width: 430px;
  h2{
    color: #FFFFFF;
  font-weight: 700;
  font-size: 55px;
  line-height: 68px;
    margin-bottom: 17px;
  }
  p{
    font-weight: 400;
    font-size: 17px;
    line-height: 165%;
    color: #E8FFE9;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.72);
    margin-bottom: 68px;
  }

}
.main-info__btn{
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  padding: 14px 33px;
  box-shadow: 4px 8px 40px rgba(59, 95, 65, 0.31);
  border-radius: 30px;
  border: 2px solid white;
  background: transparent;
  color: white;
  cursor: pointer;
  transition: 0.1s;
}
.white{
  color: #3B5F41;
  background: #FFFFFF;
  margin-right: 22px;
  &:hover{
    background: transparent;
    color: #FFFFFF;
  }
}
//MAIN-INFO_END
