//TABLE-SECTION_START
.table-wrapper{
  background: #F5F5F5;
  padding: 50px;
  border-radius: 30px;
  margin-bottom: 100px;
}
.admin-page-table{
  width: 100%;
  border-collapse:collapse;
  border-spacing:0;
  height: auto;
  border: 2px solid #F5F5F5;
}
table.admin-page-table td,table.admin-page-table th {
  border: 1px solid #595959;
}
table.admin-page-table td,table.admin-page-table th {
  padding: 10px;
  //width: 30px;
  font-size: 18px;
}
table.admin-page-table th {
  background: #347c99;
  color: #fff;
  font-weight: normal;
}
.admin-page-table__input{
  padding: 5px 10px;
  border-radius: 5px;
}
.admin-page-table__item{
  td{
    vertical-align: top;
  }
  img{
    display: flex;
    width: 40px;
    margin: auto;
  }
  button{
    background: transparent;
    display: block;
    margin: 10px auto;
    cursor: pointer;
    img{
    }
  }
}
//TABLE-SECTION_END

.create-btn{
  margin-top: 60px;
  display: flex;
  justify-content: center;
  button{
    background: white;
    padding: 16px 30px;
    border: 2px solid #595959;
    border-radius: 30px;
    cursor: pointer;
    &:hover{
      background: #66A96B;
      color: white;
    }
  }
}